

body {
  font-family: 'Montserrat', sans-serif;
  background: #0b0c2a;
  color: #f0f0f0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav{
  z-index: 2;
}

.userInput{
  background-color: none;
}

button{
  display: inline-block;
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: none;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
  min-width: 110px;
}
button:hover {
  background-color: #0e1236;
}

.footer {
  background: #1f1359;
  color: #f0f0f0;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  margin-top: 3rem;
  position: absolute;
  width: 100vw;
  bottom: 0;
  box-sizing: border-box;
}