
*{
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html{
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #0b0c2a;
  color: #f0f0f0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 6rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav{
  z-index: 2;
}

h2{
  justify-content: center;
  margin: 1rem;
  display: flex;
}
a{
  text-decoration: none;
  color: white;
}

.userInput{
  background-color: none;
}

#mainContent{
  display: flex;
  flex: 1 1 100%;
}

#allProblemsSection{
  display: flex;
  width: 100%;
  padding: 2rem;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
}
#allProblemsSection #noProblemsText{
  display: flex;
  margin: auto;
}

.problem{
  background-color: white;
  border-radius: 6px;
  padding: 1rem 2rem;
  color: black;
  width: 80%;
}
.problem.solvedProblem{
  position: relative;
}
.problem.solvedProblem::after{
  content: "";
  position: absolute;
  inset: 0; 
  background: rgba(0, 0, 0, 0.4);
  border-radius: inherit;
}
.problem .problemText{
  font-size: 0.9rem;
}
.additionalText{
  font-size: 0.8rem;
  color: rgb(159, 159, 159);
}
.additionalText2{
  font-size: 0.9rem;
  color: green;
  font-weight: bold;
}
.userInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.userInput input{
  padding: 10px 15px;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.userInput button{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: none;
  background-color: #0b0c2a;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 550;
  transition: all 0.3s ease-in-out;
  min-width: 110px;
}
button:hover {
  background-color: #0e1236;
}
.userInput button:disabled {
  background-color: #dcdde1;
  cursor: not-allowed;
  color: #7f8fa6;
}

@media(width <= 1024px){
  #allProblemsSection{
    padding: 2rem 1rem;
  }
  .problem{
    width: 100%;
  }
}

.footer {
  background: #1f1359;
  color: #f0f0f0;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  margin-top: 3rem;
  position: absolute;
  width: 100vw;
  bottom: 0;
  box-sizing: border-box;
}